<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361263937720-84bq43oodq4c7a88hk9npgki5bai9nqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361263937720-84bq43oodq4c7a88hk9npgki5bai9nqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCyoGLb6D6ohp_YDDlaDkNTFClRvywRV8A</string>
	<key>GCM_SENDER_ID</key>
	<string>361263937720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Thornplay.VruciPoker</string>
	<key>PROJECT_ID</key>
	<string>poker-aparat-u-kafani</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-aparat-u-kafani.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361263937720:ios:64de76a640c35a14ff5c4d</string>
	<key>DATABASE_URL</key>
	<string>https://poker-aparat-u-kafani-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>